@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@font-face {
  font-family: 'Norse';
  src: url('Norse-Bold.otf');
}

/* TURN ON FOR DEV TESTING
div{
  border: 2px solid red;
}
*/

 /* =================== \
|        Variables       |
 \ =================== */


 :root {
  --color-bg-primary: white;
  --color-bg-secondary: rgb(56, 56, 56);
  --color-text-primary: rgb(56, 56, 56);
  --color-text-secondary: white;
  --color-checkbox-green: green;
  --color-state-indeterminate: yellow;
  --color-state-success: limegreen;
  --color-state-error: rgb(225, 0, 0);
  --color-state-caution: orange;
  --color-accent-a: darkcyan;
  --color-accent-b: rgb(187, 161, 11);
  --color-accent-b-faded: rgba(187, 161, 11, 0.75);

  font-size: 18px;
  --font-size-h1: 8vw;
  --font-size-h2: 24px;
  --font-size-h3: 21px;

  font-weight: 500;
  --font-weight-h1: 800;
  --font-weight-h2: 700;
  --font-weight-h3: 600;

  --section-height-header: 0vh;
  --section-height-footer: 5vh;
  --section-height-main: calc(100vh - (var(--section-height-header) + var(--section-height-footer)));

  --width-left-panel: 33vw;
}

 /* =================== \
|         Elements       |
 \ =================== */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
  box-sizing: border-box;
}

h1{
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  padding: 10px;
}

h2{
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  padding: 12px;
  margin-bottom: 15px;
}

h3{
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  padding: 10px;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  padding: 10px;
}

header {
  min-height: var(--section-height-header);
}

footer {
  min-height: var(--section-height-footer);  
  padding: auto 0; 
}

main {
  min-height: var(--section-height-main);
}

/* Will need to replace the OS styles */
input{
  appearance: none;
}

input[type="checkbox"]{
  position: relative; /* This is key, otherwise the checkbox is not clickable */
  border: 1px solid black;
  width: 1em;
  height: 1em;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -4px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}

input[type="checkbox"]::before{
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

/* Must do :state::psuedo-class not
the other way around */
input[type="checkbox"]:checked::before{
  visibility: visible;
}

/*
input[type="radio"]{
  
}

input[type="radio"]:checked::before{
  
}

input[type="radio"]::before{
  
}
*/

legend{
  color: green;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  border: 2px solid green;
}

input:read-only{
  background-color: lightgray;
}

input:autofill {
  border: 1px solid purple;  
}

input:-webkit-autofill{
  border: 10px solid purple;
}

button{
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
}

button:hover{
  cursor: pointer;
}

button:active{
  transform: scale(0.9);
}


a, a:visited, a:active {
  color: inherit;
}

a:hover{
  color: inherit;
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

 /* =================== \
|         Classes        |
 \ =================== */ 

.section-wrapper {
  min-height: 30vh;
  /* border: 2px dashed red; */
}

.deck {
  padding: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 2px dashed red;
  height: 150px;
}

.card {
  gap: 8px;
  padding: 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-bg-secondary);
  border-radius: 5px;
}

.card p {
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid; 
  gap: 0;
}

.game-board{
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 80vw;
  height: 80vw;
  min-width: 300px;
  min-height: 300px;
  margin-bottom: 40px;
}

.square{
  border: 3px solid var(--color-text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker{
  font-size: max(5em, 25vw);
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  text-align: center;
}

.x{
  text-shadow: 0px 0px 3vw gold;
}

.o{
  text-shadow: 0px 0px 3vw greenyellow;
}

.username{
  font-size: 6vw;
  position: relative;
}

.head-to-head{
  max-width: 80vw;
}

.vs {
  font-size: 5vw;
  text-transform: uppercase;
}

.start {
  display: none;
  position: fixed;
  z-index: 2;
  width: 90vw;
  height: 75vh;
  max-height: 530px;
  background-color: rgba(255, 255, 255, 0.90);
  left: 5%;
  top: min(150px, 15vw);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.your-turn::before {
  content: 'Your turn';
  position: relative;
  font-size: 4vw;
  color: gold;
  text-shadow: 0 0 3px white;
  bottom: 10px;
  right: 5px;
  transition: fade
}

.your-turn-2::after {
  content: 'Your turn';
  position: relative;
  font-size: 4vw;
  color: gold;
  text-shadow: 0 0 3px white;
  width: 130px; 
  right: -5px;
  bottom: 10px;
}

.new-game, .play-again{
  display: none;
  background: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}

.play-again-buttons{
  display: flex;
  flex-direction: row;
  max-width: 400px;
  gap: 10px;
  margin-bottom: 20px;
}

.welcome {
  color:rgb(56, 56, 56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome p {
  padding: 4px;
}

/* Media queries */ 
@media screen and (min-width: 586px){

  .container h1 {
    font-size: 3em;
  }

  .vs {
    font-size: 29px;
  }

  .username {
    font-size: 41px;
  }

  .game-board{
    max-width: 402px;
    max-height: 402px;
  }

  .your-turn::before {
    font-size: 23.5px;
  }

  .your-turn-2::after {
    font-size: 23.5px;
  }

  .marker {
    font-size: 7em;
  }

}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.5s;
}